#root{
    border: 2px solid rgb(0, 255, 106);
    border-radius: 20px;
    height: 750px;
    width: 100%;

    color: rgb(0, 255, 106);
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
body{
    padding: 10px;
    background-color: rgb(15, 15, 15);
}
#box_00{
    /* background-color: rgb(127, 136, 255); */
    padding: 5%;
    height: 70%;
    width: 90%;
    /* border: 2px solid rgb(0, 255, 106); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#box_01{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
img{
    user-select: none;
}
#contenedor-carta {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(230, 230, 230);
    padding: 10px;
    /* height: 40%; */
    gap: 4px;
    border:5px solid rgb(222, 219, 194);
    border-radius: 20px;
    padding-bottom: 3%;

}
