.carta-box {
    width: 140px;
    height: 180px;
    user-select: none;
    display: flex;
    flex-direction: column;
  }
  #specialFO{
    text-align: center;
    color:rgb(243, 234, 204);
    text-shadow: 1px 1px 2px rgb(116, 116, 116);
    font-weight: 700;
  }
  .carta-box:hover .carta {
      transform: rotateY(180deg);
  }
  
  .carta {
    transform-style: preserve-3d;
    transition: all 0.5s linear;
  }
  
  .cara {
    position: absolute;
    backface-visibility: hidden;
  }
  
  .cara.detras {
    transform: rotateY(180deg);
  }